/*.contact-icon {
	height: ;
} */

#form-con {
	width: 600px;
	display: inline-block;
	margin: 0 auto;
	text-align: left;
	form {
		font-size: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		label {
			padding-top: 1em;
		}
		input {
			height: 40px;
		}
		textarea {
			font-family: $body;
		}
	}
	button {
		margin-top: 1em;
		border: none;
		width: 100px;
		height: 40px;
	}
}
