/*.contact-icon {
	height: ;
} */

iframe {
	border-radius: 5%;
	-webkit-box-shadow: .5px 4px 8px .5px rgba(190, 190, 190, 0.4);
	-moz-box-shadow: .5px 4px 8px .5px rgba(190, 190, 190, 0.4);
	-o-box-shadow: .5px 4px 8px .5px rgba(190, 190, 190, 0.4);
	box-shadow: .5px 4px 8px .5px rgba(190, 190, 190, 0.4);
}
