footer { /* this should keep the footer at the bottom */
	background-color: $green;
	height: 450px;
	margin: 0 auto;
	padding-bottom: 70px;
}

#copyright {
	bottom: 0;
 	max-width: 100vw !important;
 	width: 100%;
	background-color: $darkgreen;
	height: 100px;
	position: absolute;
	/* z-s: 50; */
	color: $white;
	padding-top: 15px;
}

#copyright a {
	color: $white;
	list-style-type: none;
}

#copyright a:hover {
	text-decoration: underline;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#main-footer {
	margin-top: 40px;
	margin-bottom: 20px;
	width: 100%;
	display: inline-grid;
	grid-template-columns: repeat(2, 1fr);  
	grid-gap: 1em;
	color: $white;
	padding: 10px;
	justify-items: center;
}

#main-footer h2 {
	font-size: 1em;
	font-family: $body;
	text-align: center;
}

#main-footer p {
	font-size: .75em;
	font-family: $body;
}

#main-footer ul {
	list-style-type: none;
	text-align: left;
	font-size: .8em;	
	margin: 0 auto;
}

#main-footer li {
	list-style-type: none;
	text-align: left;
	padding-bottom: 5px;	
	margin: 0 auto;
}

#main-footer a {
	color: $white;
}

#main-footer a:hover {
	text-decoration: underline;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#sm {
	width: 100%;
	display: inline-grid;
	grid-template-columns: repeat(2, 1fr);  
	grid-gap: 2em;
	margin: 0 auto;
	padding-left: 6px;
}

#footer-logo {
	margin-top: 20px;
	width: 200px;
	padding: 10px;
}

#explore {
	margin: 0 auto;
	width: 100%;
	display: inline-grid;
	grid-template-columns: repeat(3, 1fr);  
	grid-gap: .8em;
	color: $white;
	padding: 10px;
	justify-items: center;
}

#footer-attrib {
	font-size: .5em;
	padding: 0 10px;
}

.margin {
	margin-top: 4em;
	margin-bottom: 4em;
}

#contact-info {
	display: inline-block;
	font-size: 2em;
	width: 40em;

}

.contact-span {
	color: $green;
}
