/* fade in transition */

.fade-in {
	opacity: 1;
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*Utility Class*/

#main-nav li {
	padding: 5px;
}

.box-helper {
	color: #fff;
	background-color: #000;
	text-align: center;
}

.hidden {
	display: none;
}

/* General rules - scales images, videos to size of container */
img, embed, object, video {
	max-width: 100%; /* 100% of itself */
}

/*switch box model*/

html {
	box-sizing: border-box; 
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit; 
}

/*Fix for scaling of images IE*/

img {
	-ms-interpolation-mode: bicubic; 
}

h2 {
	font-family: $header;
}

h3, h4, h5, h6 {
	font-family: $body; 
}

/* coming soon */

#coming-soon-logo {
	width: 31.25em /* 500px */;
	display: inline-block;
	margin: 1.3em;
}

#blurb {
	font-size: 1.1em;
}

body {
	font-family: $body;
	font-weight: 400;
	font-style: normal;
	color: $black;
	font-size: 16px; /* therefore, 1em = 16px */
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
}

main {
	position: relative;
	  background-image: url("../images/background.png");
	  background-repeat: repeat;
	  background-color: $white;
}

p {
	font-family: $body;
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
}

a {
	text-decoration: none; 
	outline: 0;
	transition: all .1s linear 0s;
}

ul li {
	text-decoration: none;
}

#subtitle {
	font-size: 20px;
	font-family: $body;
}

.title {
	font-size: 2em;
	grid-column: 3 / span 2;
	grid-row: third-line / 4;
}

/* .box-shadow img {
	filter: drop-shadow(3px 3px 5px rgba(0,0,0,.2));
	-webkit-filter: drop-shadow(3px 3px 5px rgba(0,0,0,.2));
} */

.index-button {
	button {
		margin-top: 1em;
		border: none;
		width: 100px;
		height: 40px;
		background-color: $orange;
		color: white;
		margin-bottom: 1em;
	}
	button:hover {
		background-color: $white;
		color: $orange;
		border: 1px solid orange;
		cursor: pointer;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
	}
}

.main-container {
	max-width: 120em; /* 1920px */
	width: 100%;
	margin: 0 auto;
	min-height: 100vh; /* will cover the 100% of viewport */
 	overflow: hidden;
 	display: block;
 	position: relative;
 	padding-bottom: 5%;
}

.sub-container {
	width: 80%; 
	margin: 0 auto;
}

.sub-container a:hover {
	text-decoration: none;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.container a:hover {
	text-decoration: none;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.center {
	text-align: center;
	align-items: center;
	align-content: center;
	align-self: center;
	opacity: 1;
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.full-width {	
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
	opacity: 1;
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
} 


/********************************/

.index-featured {
	width: 100%;
	display: inline-grid;
	grid-template-columns: repeat(2, 1fr);  
	grid-gap: 1em;
	color: $black;
	justify-items: center;
	height: 100%;
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: $body;
	//filter: drop-shadow(3px 3px 5px rgba(0,0,0,.2));
}

.index-featured img {
	max-width: 300px;
	background-color: $white;
}

.drpdwnarw {
	padding: 5px;
}

.fa-sort-down{
	margin-bottom: 3px;
}