.product-hero {
    width: 100vw;
    margin-top: 1.5em;
    height: 250px;
    background-color: $white;
}

.info-frost-product {
    max-width: 40em; 
    display: inline-block;
    justify-content: space-evenly;
    margin: 0 auto;
}

.info-frost-product h2 {
     font-family: buena-park-jf, serif;
     font-size: 2.3em;
     padding-top: 75px;
}
