// fonts

$header: buena-park-jf, serif;
$body: 'Bellota Text', sans-serif;

// colors

$black: #333;
$white: #fff;
$dropdown: rgba(235, 235, 235,1);
$grey:#cfcfcf;
$orange: #ff920a;
$lightorange: #ffaf4b;
$green: rgba(28, 99, 60, 1); //1c633c 
$darkgreen: #134226;
